
  <h1>Sign up</h1>

  <p>
    Purple fields are required.
  </p>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form1Col">
        <div class="required">
          <%= "Enter your Email Address:" %>
          <%= f.email_field :email, {class: "large", size: "80"} %>
        </div>
        <div class="floatFix"></div>
        <div class="required">
          <%= "Password"%>
          <%= f.password_field :password %>
        </div>
        <div class="required">
          <%= "Confirm Password:" %>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="floatFix"></div>
        <div class="hr"></div>
        <div class="required">
          <%= "First Name" %>
          <%= f.text_field :first_name %>
        </div>
        <div class="required">
          <%= "Last Name:" %>
          <%= f.text_field :last_name %>
        </div>
        <div class="floatFix"></div>
        <div class="required">
          <%= "Business Name:" %>
          <%= f.text_field :business_name %>
        </div>
        <div class="fl marRt10">
          <%= "Primary Phone:" %>
          <%= f.text_field :phone %>
        </div>
        <div class="floatFix"></div>
        <div class="fl marRt10">
          <%= "Address:" %>
          <%= f.text_field :address %>
        </div>
        <div class="floatFix"></div>
        <div class="fl marRt10">
          <%= "City:" %>
          <%= f.text_field :city %>
        </div>
        <div class="fl marRt10">
          <%= "State:" %>
          <%= f.text_field :state %>
        </div>
        <div class="floatFix"></div>
        <div class="required">
          <%= "Postal/Zip Code:" %>
          <%= f.text_field :zip %>
        </div>
        <div class="floatFix"></div>
      </div>
      <div class="buttonContainer"><%= f.submit "Sign up", {class: "button "} %>
        <a href="/users/sign_in" class="button gray">Cancel</a></div>
      <div class="floatFix"></div>

  <% end %>

