<!DOCTYPE html>
<html>
<head>
  <title>Ray's Cruiser Shop</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="nav">
  <div class="welcome pageWidth"><!--Welcome Biz User | <a href="logon.html">Logout</a>--></div>
  <div class="floatFix"></div>
  <div class="topBar">
    <div class="pageWidth"><%= link_to "", root_path, :class=>"logo"%>
      <ul class="menu fr">

          <% unless user_signed_in? %>
            <li>
              <%= link_to('Sign In', new_user_session_path) %>
            </li>
            <li>
              <%= link_to('Sign Up', new_user_registration_path) %>
            </li>
          <% else %>
            <li>
              <!--you are already signed in.-->
              <%= link_to('Sign Out', destroy_user_session_path, :method => 'delete') %>
            </li>
          <% end %>

      </ul>
    </div>
  </div>
</div>

<div id="content">
  <div class="pageWidth main">
    <div class="inner">
        <!--<div style="color: #ff0000; -moz-border-radius: 5px; background: #cccccc"><%= flash[:notice] %></div>-->
        <%= yield %>
      </div>
  </div>
</div>


<div class="floatFix"></div>

<div id="footer">
  <div class="inner pageWidth">
    <div class="fl">&copy; Rays Cruiser Shop 2012</div>
    <div class="fr">
      <a href="http://en.wikipedia.org/wiki/Cruiser_bicycle"> Custom Cruiser (EN)</a>
       | 
      <a href="http://de.wikipedia.org/wiki/Cruiser_(Fahrrad)">Cruiser Fahrrad (DE)</a>
    </div>
  </div>
</div>

</body>
</html>
